EXPO_PUBLIC_API_BASE_URL=http://localhost:8080
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
EXPO_PUBLIC_EDAMAM_APP_ID=your_edamam_app_id
EXPO_PUBLIC_EDAMAM_APP_KEY=your_edamam_app_key
EXPO_PUBLIC_OCR_SPACE_API_KEY=your_ocr_space_api_key
